/*
    Document   : sdm_layout
    Created on : Oct 12, 2014, 5:22:17 PM
    Author     : Sevi Foreman
    Description: Alternative default theme for the SDM CMS.
    Overview:

    - classes -
    .sdm : defines initial styles for all elements. This class is applied to the <body>
    .horizontal-menu : defines styles for horizontal menus. (note: only works with html lists)
    .homelink : defines styles for links to homepage. (note: only applied if element is assigned class ""homelink".
    .border : adds a border to elements if element allows for borders.
    .rounded-edge : rounds the edge of an element;

    - ids -
    #lockedwrapper : defines styles for main wrapping element, all other elments should be children of this element.
    #main_content : defines styles for main content wrapper, this wrapper is required in all themes.
    #gohome-link : defines styles for the "Go Home" link that appears at the bottom of each page.
*/

/** Default Styles */

.sdm3 {
    background: #ffffff;
    color: #CCCCCC;
    font-family: serif;
    font-size:22px;
}

/** Wrappers */

#lockedwrapper {
    min-height: 720px; /* use min-height so element will grow vertically with content */
    margin: 42px auto;
    padding: 20px;
    width: 960px;
    overflow: auto;
}

#main_content {
    width: 100%;
    height: 100%;
}

/** Menus */

.horizontal-menu {
    font-size: 1.2em;
    list-style-type: none;
    margin: 0 0 1em 0;
    padding: 0;
    width: 100%;
}

.horizontal-menu li {
    display: inline;
    margin: 0 1em 0 0;
}

.horizontal-menu a {
    text-decoration: none;
}

/** Links */
/** default link styles */
a {
    text-decoration: none;
}
a:link {
    color: #EEEEEE;
}

a:visited {
    color: #EEEEEE;
}

a:hover {
    color: #0099FF;
}

a:active {
    color: #0099FF;
}
/** custom links */
.homelink a:link {
    color: #0066cc;
}

.homelink a:visited {
    color: #0066cc;
}

.homelink a:hover {
    color: #3399ff;
}

.homelink a:active {
    color: #00DDff;
}

input select {
    display: block;
}

/** Forms */
input, text, textarea, select {
    display: block;
    border-radius: 4px;
    margin: 5px 0 20px 0;
}

textarea {
    width: 100%;
    height: 16em;
}

/** targeted ids */
#gohome-link {
    float:right;
    margin:0; /** prevent from leaving wrapping element */
}

#footer-menu {
    margin: 20px 0 0 0;
    padding: 20px 20px 20px 20px;
    font-size: .5em;
}

/** targeted elements */

/** Misc. styleing */
.border {
    border: 1px solid #999999;
}

.rounded-edge {
    border-radius: 7px;
}