/*
    Document   : sdm_layout
    Created on : Oct 12, 2014, 5:22:17 PM
    Author     : Sevi Foreman
    Description: Default theme for the SDM CMS.
    Overview:

    - classes -
    .sdm : defines initial styels for all elements. This class is applied to the <body>
    .horizontal-menu : defines styles for horizontal menus. (note: only works with html lists)
    .homelink : defines styles for links to homepage. (note: only applied if element is assigned class ""homelink".

    - ids -
    #lockedwrapper : defines styles for main wrapping element, all other elments should be children of this element.
    #main_content : defines styles for main content wrapper, this wrapper is required in all themes.
    #gohome-link : defines styles for the "Go Home" link that appears at the bottom of each page.
*/

/** Default Styles */

.sdm {
    background: #000000;
    color: #333333;
    font-family: serif;
    font-size:22px;
}

/** Wrappers */

#lockedwrapper {
    background: #aaccff;
    border: 5px solid #ffffff;
    border-radius: 8px;
    min-height: 720px; /* use min-height so element will grow vertically with content */
    margin: 42px auto;
    padding: 20px;
    width: 960px;
    overflow: auto;
}

#main_content {
    width: 100%;
    height: 100%;
}

/** Menus */

.horizontal-menu {
    font-size: 1.2em;
    list-style-type: none;
    margin: 0 0 1em 0;
    padding: 0;
    width: 100%;
}

.horizontal-menu li {
    display: inline;
    margin: 0 1em 0 0;
}

.horizontal-menu a {
    text-decoration: none;
}

/** Links */
/** default link styles */
a {
    text-decoration: none;
}
a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #0099FF;
}

a:active {
    color: #0099FF;
}
/** custom links */
.homelink a:link {
    color: #0066cc;
}

.homelink a:visited {
    color: #0066cc;
}

.homelink a:hover {
    color: #3399ff;
}

.homelink a:active {
    color: #00DDff;
}

input select {
    display: block;
}

/* Forms */
input, text, textarea, select {
    display: block;
    border-radius: 4px;
    margin: 5px 0 20px 0;
}

textarea {
    width: 100%;
    height: 16em;
}

/* targeted elements */
#gohome-link {float:right;}
