/*
    Document   : menus
    Created on : Oct 28, 2015, 5:20:29 PM
    Author     : seviforeman
    Description:
        Purpose of the stylesheet follows.
*/

/** Menus */

ul {
    list-style: none; /* get rid of bullets for list elemetns */
    padding-left: 0; /* remove indentation of list elements */
}

/** Links */
/** default link styles */
a {
    text-decoration: none;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #0099FF;
}

a:active {
    color: #0099FF;
}

/** custom links */
.homelink a:link {
    color: #99ccff;
}

.homelink a:visited {
    color: #99ccff;
}

.homelink a:hover {
    color: #3399ff;
}

.homelink a:active {
    color: #00DDff;
}

/* Tablet Styles */
@media only screen and (min-width: 600px) {

}

/* Desktop Styles */
@media only screen and (min-width: 768px) {
    /** menu styles **/
    .horizontal-menu {
        font-size: 1.2em; /* slightly larger then base font-size */
        list-style-type: none;
        padding: 0;
        margin: 0;

    }

    .horizontal-menu li {
        display: inline-block; /* Use inline-block so we can apply margins */
        margin: 0 15px 0 15px; /* Align with "col-*" left margins @see [class*="col-"] {} in layout.css for correct pixel measurements, margin left and right for horizontal-menu li {} should = padding in [class*="col-"]{} */
    }

    .horizontal-menu a {
        text-decoration: none;
    }
}
