
#locked_eac_pm-header-row {
    color: #ac3333;
    height: 60px;
    border-bottom: 17px solid #0f4c8c;
    margin-bottom: -10px;
    padding-bottom: 50px;
}

#locked_eac_pm-header-row h1, h2, h3, h4, h5, h6 {
    display: inline;
}

#locked_eac_pm-header-logo {
    height: 50px;
}

#locked_eac_pm-header-logo-text {
    margin-left: -16px;
}

#locked_eac_pm-header-address {
    height: 50px;
}

#locked_eac_pm-header-address-text {
    font-size: .9em;
    padding: 15px 0px;
}

#locked_eac_pm-header-phone-number {
    height: 50px;
}

#locked_eac_pm-header-phone-number-text {
    text-align: right;
    padding: 1px 0px;
    font-size: 1.6em;
    margin-right: -16px;
}

#locked_eac_pm-homepage-row2 {
    height: 40px;
}

#locked_eac_pm-hours {
    margin-left: -16px;
}

#eac_pm-main-menu {
    height: 48px;
    overflow: hidden;
}

#locked_eac_pm-homepage-row3 {
    background: url("../designImages/pm_top_rectangle.jpg") no-repeat center;
    height: 297px;
}

.eac_pm-homepage-box {
    /* background: seagreen; */
    color: #ffffff;
    width: 24em;
    overflow: hidden;
    text-align: center;
    font-size: 0.75em;
    line-height: 1.1875em;
}

#eac_pm-homepage-box1 {
    margin-top: 142px;
    float: right;
    height: 70px;
    margin-right: 42px;
}

#locked_eac_pm-homepage-row4 {
    background: url("../designImages/pm_middle_rectangle.jpg") no-repeat center;
    height: 297px;
}

#eac_pm-homepage-box2 {
    margin-top: 142px;
    margin-left: 35px;
}

#locked_eac_pm-homepage-row5 {
    background: url("../designImages/pm_bottom_rectangle.jpg") no-repeat center;
    height: 297px;
}

#eac_pm-homepage-box3 {
    margin-top: 194px;
    height: 82px;
    float: right;
    margin-right: 34px;
}

#locked_eac_pm-footer-row {
}

#locked_eac_pm-footer-text {
    text-align: center;
    border-top: 17px solid #0f4c8c;
    margin-top: 15px;
}

#locked_eac_pm-row2 {
}

#locked_eac_pm-row3 {
}

#locked_eac_pm-cars-for-sale-box {
    background: url('../designImages/pm_revised_cars_box.jpg') no-repeat center;
    height: 297px;
}

#eac_pm-cars-for-sale-box-text {
    color: #ffffff;
    width: 361px;
    margin-top: 0px;
    margin-left: 27px;
    height: 244px;
    padding-top: 72px;
    padding-left: 6px;
}

#locked_eac_pm-mini-about-box1 {
    text-align: center;
    border-right: 3px solid #000000;
}

#locked_eac_pm-mini-about-box1 ul {
    list-style: none; /* get rid of bullets for list elements */
    padding-left: 0px; /* remove indentation of list elements */
}

#locked_eac_pm-mini-about-box1 li {
    margin-top: 8px;
}

#locked_eac_pm-mini-about-boxes-row {
}

#locked_eac_pm-mini-about-boxes-row h2 {
    background: #840415;
    width: 242px;
    color: #ffffff;
    font-size: .95em;
    display: block;
    margin: -15px 0px 0px -7px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

#eac_pm-mini-about-box2 {
}

#eac_pm-mini-about-box3 {border-left: 3px solid #000000;}