/*
    Document   : layout
    Created on : Oct 27, 2015, 4:31:01 PM
    Author     : seviforeman
    Description:
        Responsive theme for the EaContent_PaulsMotors theme. All classes directly related to the formatting of
        the layout of a page is defined here.
*/

html {
    /* for older browsers */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* moder browsers */
    box-sizing: border-box;
}

*, *:before, *:after {
    /* for older browsers */
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    /* moder browsers */
    box-sizing: inherit;
}

/*
    Design for mobile first. By default set all
    column widths to 100% to adjust for smaller
    screens
*/
[class*="eac_pm-col-"] {
    width: 100%;
    float: left;
    padding: 15px;
}

/**
    The columns inside a row are all floating
    to the left, and are therefore taken out
    of the flow of the page, and other elements
    will be placed as if the columns do not
    exist. To prevent this, we will add a style
    that clears the flow after each row.
    (i.e., after each element with class .eac_pm-row)
**/
.eac_pm-row:after {
    clear: both;
    display: block;
}

.dev {
    /* border: 1px solid #00b9e1; */
}

/* Tablet Styles */
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .eac_pm-col-m-1 {
        width: 8.33%;
    }

    .eac_pm-col-m-2 {
        width: 16.66%;
    }

    .eac_pm-col-m-3 {
        width: 25%;
    }

    .eac_pm-col-m-4 {
        width: 33.33%;
    }

    .eac_pm-col-m-5 {
        width: 41.66%;
    }

    .eac_pm-col-m-6 {
        width: 50%;
    }

    .eac_pm-col-m-7 {
        width: 58.33%;
    }

    .eac_pm-col-m-8 {
        width: 66.66%;
    }

    .eac_pm-col-m-9 {
        width: 75%;
    }

    .eac_pm-col-m-10 {
        width: 83.33%;
    }

    .eac_pm-col-m-11 {
        width: 91.66%;
    }

    .eac_pm-col-m-12 {
        width: 100%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 779px) {
    /* Col styles For desktop: */
    .eac_pm-col-1 {
        width: 8.33%;
    }

    .eac_pm-col-2 {
        width: 16.66%;
    }

    .eac_pm-col-3 {
        width: 25%;
    }

    .eac_pm-col-4 {
        width: 33.33%;
    }

    .eac_pm-col-5 {
        width: 41.66%;
    }

    .eac_pm-col-6 {
        width: 50%;
    }

    .eac_pm-col-7 {
        width: 58.33%;
    }

    .eac_pm-col-8 {
        width: 66.66%;
    }

    .eac_pm-col-9 {
        width: 75%;
    }

    .eac_pm-col-10 {
        width: 83.33%;
    }

    .eac_pm-col-11 {
        width: 91.66%;
    }

    .eac_pm-col-12 {
        width: 100%;
    }

    .eac_pm-row-dimensions {
        width: 779px;
    }

    .eac_pm-row {
        margin: 0 auto;
    }
}