# Ingore Configuration for the SDM CMS

# FOLDERS #

nbproject

.idea

apps/SdmMediaDisplays/logs

# FILES #

.DS_Store

# FILETYPES #

*.aiff

*.mp3

*.aif

*.m4v

*.psd

*.pdf

*.png

*.jpg

*.gif

*.ttf

*.otf

*.json

*.log

ast.dump
