table {
    border: 2px solid #ffffff;
    margin: 20px auto;
    width: 88%;
}

tr {
    border: 2px solid #ffffff;
}

td {
    border: 2px solid #ffffff;
}


.rounded table, tr, td {
    border-radius: 9px;
    padding: 15px;
}

.positive {
    background: #4cae6a;
}

.negative {
    background: #ff0021;
}

.center {
    margin: 20px auto;
    text-align: center;
}

.message {
    border: 2px solid #eeeeee;
    border-radius: 9px;
    margin: 0 auto;
    width: 98%;
    padding: 20px;
    font-family: Courier;
    font-size: .7em;
    word-wrap: break-word;
    text-align: center;
}

.success {
    color: #32fb43;
    background: #3e6888;
}

.error {
    color: #fb2725;
    background: #050e1d;
}

.container {
    border: 3px solid #eeeeee;
    border-radius: 9px;
    background: #1c94c4;
    padding: 20px;
}