/* Styles for budget app's container div. */


/* Table styles */

.budget table {
    margin: 20px auto;
    width: 88%;
}

.budget tr {
    border: 2px solid #ffffff;
}

.budget td {
    border: 2px solid #77ddff;
}

.budget th {
    font-weight: bold;
    color: rgba(5, 47, 72, 0.53);
    text-align: left;
}


.budget-rounded table, tr, td {
    border-radius: 9px;
    padding: 15px;
    color: #ffffff;
}

#budget-rounded-left {
    border-radius: 9px 0px 0px 29px;
    padding: 35px;
}

#budget-rounded-right {
    border-radius: 0px 29px 9px 0px;
    padding: 35px;
    /* border-left: 4px solid #000000; */
}
.budget-positive {
    background: #4cae6a;
}

.budget-negative {
    background: #ff0021;
}

.budget-center {
    margin: 20px auto;
    text-align: center;
}

.budget-message {
    border: 2px solid #eeeeee;
    border-radius: 9px;
    margin: 0 auto;
    width: 98%;
    padding: 20px;
    font-family: Courier;
    font-size: .7em;
    word-wrap: break-word;
    text-align: center;
}

.budget-success {
    color: #32fb43;
    background: #3e6888;
}

.budget-error {
    color: #fb2725;
    background: #050e1d;
}

.budget-container {
    border: 3px solid #eeeeee;
    border-radius: 9px;
    /*    background-color: #517192; */
    background: -webkit-gradient(bottom right, white, #517192, white); /* For Chrome and Safari4+ */
    background: -webkit-linear-gradient(left top, white, #517192, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, white, #517192, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, white, #517192, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, white, #517192, white); /* Standard syntax (must be last) */
    padding: 20px;
    margin-top: 20px;
    color: #05050f;
}

.budget-text-center {
    text-align: center;
}

.budget-text-left {
    text-align: left;
}

.budget-expense-cell {
    font-family: Papyrus;
}

.budget-expense-cell-bg-1 {
    background-color: #004C9F;
}

.budget-expense-cell-bg-2 {
    background-color: #007999;
}