/*
    Document   : forms
    Created on : Oct 28, 2015, 5:20:40 PM
    Author     : seviforeman
    Description:
        Purpose of the stylesheet follows.
*/

/** Forms */
input, text, textarea, select {
    display: block;
    border-radius: 4px;
    margin: 5px 0 20px 0;
}

textarea {
    width: 100%;
    height: 16em;
}

/* Tablet Styles */
@media only screen and (min-width: 600px) {

}

/* Desktop Styles */
@media only screen and (min-width: 768px) {

}