/*
    Document   : layout
    Created on : Oct 27, 2015, 4:31:01 PM
    Author     : seviforeman
    Description:
        Responsive theme for the SDM CMS. This theme
        is a mobile first design and will adjust it's
        styles based on screen size;

        This file specifically sets the layout styles for the theme.
*/

/*
    The CSS3 box-sizing property allows us to
    include the padding and border in an element's
    total width and height. This prevents borders and
    padding from changing an elements overall width.
    @see http://www.w3schools.com/css/css3_box-sizing.asp for more info
*/

* {
    box-sizing: border-box;
}


/*
    Design for mobile first. By default set all
    column widths to 100% to adjust for smaller
    screens
*/
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
}

/**
    The columns inside a row are all floating
    to the left, and are therefore taken out
    of the flow of the page, and other elements
    will be placed as if the columns do not
    exist. To prevent this, we will add a style
    that clears the flow after each row.
    (i.e., after each element with class .row)
**/
.row:after {
    content: ""; /* If set this sting will be placed after each row. Can be useful during theme development to see where various elements are in the page */
    clear: both;
    display: block;
}

/* elements with class spacer will have no border and can be used to create space between columns */
.spacer {
    border:none;
}


/* Tablet Styles */
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

/* Desktop Styles */
@media only screen and (min-width: 768px) {
    /* Col styles For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}