/*
    Document   : menus
    Created on : Oct 28, 2015, 5:20:29 PM
    Author     : seviforeman
    Description:
        Purpose of the stylesheet follows.
*/

/** Menus */

ul {
    list-style: none; /* get rid of bullets for list elemetns */
    padding-left: 0; /* remove indentation of list elements */
}

/** Links */
/** default link styles */
a {
    text-decoration: none;
}
a:link {
    color: #777777;
}

a:visited {
    color: #777777;
}

a:hover {
    color: #0099FF;
}

a:active {
    color: #0099FF;
}
/** custom links */
.homelink a:link {
    color: #0066cc;
}

.homelink a:visited {
    color: #0066cc;
}

.homelink a:hover {
    color: #3399ff;
}

.homelink a:active {
    color: #00DDff;
}

/* Tablet Styles */
@media only screen and (min-width: 600px) {

}

/* Desktop Styles */
@media only screen and (min-width: 768px) {
    /** menu styles **/
    .horizontal-menu {
        font-size: 1.2em;
        list-style-type: none;
        margin: 0 0 1em 0;
        padding: 0;
        width: 100%;
    }

    .horizontal-menu li {
        display: inline;
        margin: 0 1em 0 0;
    }

    .horizontal-menu a {
        text-decoration: none;
    }
}
