/*
    Document   : style-classes
    Created on : Oct 28, 2015, 5:27:39 PM
    Author     : seviforeman
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background: -webkit-linear-gradient(left top, black , #55eeff, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, black , #55eeff, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, black , #55eeff, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, black , #55eeff, black); /* Standard syntax (must be last) */
    margin: 0;
    /** the following three lines prevent bg from repeating **/
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.sdmResponsive {
    color: #ffffff;
    font-size: 24px;
    font-family: serif;
}


.border-bottom {
    border-top-color:#000000;
    border-right-color:#000000;
    border-bottom-color:#ffffff;
    border-left-color:#000000;
    border-width:5px;
    border-radius:0px;
    border-style:none none double none;
}

.row-min-wid-fix {
    min-width: 0;
}
.rounded {
    border-radius:20px;
}

.padded-row {
    padding: 20px;
}

/* Tablet Styles */
@media only screen and (min-width: 600px) {
    body {
        background: -webkit-linear-gradient(left top, black , #77ddff, black); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, black ,  #77ddff, black); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, black ,  #77ddff, black); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom right, black ,  #77ddff, black); /* Standard syntax (must be last) */
        margin: 0;
        /** the following three lines prevent bg from repeating **/
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .row-min-wid-fix {
        min-width: 0;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 768px) {
    body{
        background: -webkit-linear-gradient(left top, black , #99ccff, black); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, black , #99ccff, black); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, black , #99ccff, black); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom right, black , #99ccff, black); /* Standard syntax (must be last) */
        margin: 0;
        /** the following three lines prevent bg from repeating **/
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    /* Prevent elements from collapsing on window resize on desktops by setting min-width for desktops */
    .row-min-wid-fix {
        min-width: 1100px;
    }
}

