/*
    Document   : style-classes
    Created on : Oct 28, 2015, 5:27:39 PM
    Author     : seviforeman
    Description:
        Purpose of the stylesheet follows.
*/

.sdmResponsive {
    background: #000000;
    color: #99ccff;
}


.border-1 {
    border-top-color:#000000;
    border-right-color:#000000;
    border-bottom-color:#AAAAAA;
    border-left-color:#000000;
    border-width:7px;
    border-radius:0px;
    border-style:none none double none;
}

.border-2 {
    border-top-color:#AAAAAA;
    border-right-color:#000000;
    border-bottom-color:#AAAAAA;
    border-left-color:#000000;
    border-width:7px;
    border-radius:20px;
    border-style:double none double none;
}

.gradi-bg {
    height: 200px;
    background: -webkit-linear-gradient(left top, black , CornflowerBlue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, black , CornflowerBlue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, black , CornflowerBlue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, black , CornflowerBlue); /* Standard syntax (must be last) */
}

/* Tablet Styles */
@media only screen and (min-width: 600px) {

}

/* Desktop Styles */
@media only screen and (min-width: 768px) {

}

