/*
    Document   : wrappers
    Created on : Oct 28, 2015, 5:29:19 PM
    Author     : seviforeman
    Description:
        Purpose of the stylesheet follows.
*/

/* Wrappers */
#locked_side-menu, #main_content {
    background: #0C1923;
    opacity: 0.69;
}

/* Tablet Styles */
@media only screen and (min-width: 600px) {

}

/* Desktop Styles */
@media only screen and (min-width: 768px) {
    /* Wrappers */
    #footer {
        text-align: center;
    }
}