/*
    Document   : wrappers
    Created on : Oct 28, 2015, 5:29:19 PM
    Author     : seviforeman
    Description:
        Purpose of the stylesheet follows.
*/

/* Wrappers */
#side-menu, #main_content {
    background: #000000;
    opacity: .7;
}

/* Tablet Styles */
@media only screen and (min-width: 600px) {

}

/* Desktop Styles */
@media only screen and (min-width: 768px) {
    /* Wrappers */
    #footer {
        text-align: center;
    }
}