
#sdmMediaHomepageDisplay {
    background: #000000;
    width: 88%;
    margin: 0 auto;
}

.sdmMediaHomepageDisplayMedia {
    border: 3px solid #ffffff;
    border-radius: 9px;
    padding: .3em;
    margin: 0px 0px 2em 0px;
}

.sdmMediaHomepageDisplayMedia img,
.sdmMediaHomepageDisplayMedia video {
    width: 96%;
    margin: 0px auto;
    padding: 30px 0px 30px 0px;
    display: block;
    background: #000000;
    opacity: 1;
}

.sdmMediaHomepageDisplayMedia h2 {
    text-align: center;
    background: springgreen;
    padding: 10px;
    margin: 0 auto;
    border: 3px solid #ffffff;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}