html {
    /* for older browsers */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* modern browsers */
    box-sizing: border-box;
}

*, *:before, *:after {
    /* for older browsers */
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    /* moder browsers */
    box-sizing: inherit;
}

body {
    background: -webkit-gradient(bottom right, black, #55eeff, black); /* For Chrome and Safari4+ */
    background: -webkit-linear-gradient(left top, black, #99ccff, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, black, #99ccff, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, black, #99ccff, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, black, #671E0D, black); /* Standard syntax (must be last) */
    margin: 0;
    /** the following three lines prevent bg from repeating **/
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 20px;
}

.row {
    /* No styles yet. */
    background: #000000;
    opacity: .7;
}

/**
    The columns inside a row are all floating
    to the left, and are therefore taken out
    of the flow of the page, and other elements
    will be placed as if the columns do not
    exist. To prevent this, we will add a style
    that clears the flow after each row.
    (i.e., after each element with class .row)
**/
.row:after {
    content: ""; /* If set this sting will be placed after each row. Can be useful during theme development to see where various elements are in the page */
    clear: both;
    display: block;
}

/*
    Design for mobile first. By default set all
    column widths to 100% to adjust for smaller
    screens
*/
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 0px 21px 0px 21px;
    margin-top: 0px;
}

.WindhamWineAndLiquors {
    color: #ffffff;
    font-size: 18px;
    font-family: serif;
}

/* Tablet */
@media only screen and (min-width: 720px) {
    html {
    }

    *, *:before, *:after {
    }

    body {
    }

    .row {
    }

    .row:after {
    }

    [class*="col-"] {
    }

    .WindhamWineAndLiquors {
    }

}

/* Desktop */
@media only screen and (min-width: 960px) {
    html {
    }

    *, *:before, *:after {
    }

    body {
    }

    .row {
    }

    .row:after {
    }

    [class*="col-"] {
    }

    .WindhamWineAndLiquors {
    }

    /* Col styles For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}