.ourSelectionsMediaContainer {
    float: left;
    height: 420px;
}

.ourSelectionsMediaWrapper {
}

.ourSelectionsMediaTitle {
    margin-bottom: 20px;
    text-align: center;
}

.ourSelectionsMedia {
}

.ourSelectionsMediaOriginalLinkData {
}

