@font-face {
    font-family: scriptina;
    src: url('../fonts/scriptina/SCRIPTIN.ttf');
}

@font-face {
    font-family: bernur;
    src: url('../fonts/bernur-normal_wintt/BERNN___.TTF');
}

.WindhamWineAndLiquors {
    font-size: 24px;
    font-family: bernur;
}

#locked_headerWrapper {
    font-family: scriptina, cursive;
    font-size: 2em;
}

#locked_headerWrapper {
    text-align: center;
}

#locked_footerWrapper {
    text-align: center;
}