/* Site wrapper */
#locked_siteWrapper {
    background: #ffffff;
}

@media only screen and (min-width: 960px) {
    /* site width */
    #locked_siteWrapper {
        width: 1420px;
        margin: 0 auto;
        opacity: .97;
    }
}

/* Row 1 content wrappers */
#locked_mainMenuWrapper {
    margin-top: 72px;
    margin-left: -17px;
}

#main-menu {
}

#locked_headerWrapper {
}

#locked_headerWrapper h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: -42px;
}

/* Row 2 content wrappers */
#locked_mainContentWrapper {
    margin-top: 20px;
}

#main_content {
}

#locked_footerWrapper {
    padding: 42px;
}

#locked_facebookIcon {
    position: fixed;
    top: 253px;
    opacity: .9;
    left: 0px;
    overflow: hidden;
    width: 128px;
    background: #5f282e;
    padding: 5px;
    z-index: 2999;
}

#locked_facebookText {
    color: #ffffff;
    float: right;
    width: 75px;
    font-size: 0.9em;
    margin-top: 3px;
}

