/* Buttons*/
#SdmMediaDisplaysAdminPanel {
    width: 100%;
    margin: 0 auto;
    padding: 42px;
    border: 3px solid #3498db;
    border-radius: 42px;
}

#SdmMediaDisplaysAdminPanel label,
#SdmMediaDisplaysAdminPanel p {
    width: 100%;
    overflow: auto;
    display: inline-block;
}

#SdmMediaDisplaysAdminPanel select,
#SdmMediaDisplaysAdminPanel input[type="radio"],
#SdmMediaDisplaysAdminPanel textarea,
#SdmMediaDisplaysAdminPanel input[type="text"] {
    /* Un-comment to center*/
    margin-top: 42px;
    width: 100%;
    height: 42px;
    border: 3px solid #3498db;
    opacity: .5;
}

#SdmMediaDisplaysAdminPanel select:focus,
#SdmMediaDisplaysAdminPanel input[type="radio"]:focus,
#SdmMediaDisplaysAdminPanel textarea:focus,
#SdmMediaDisplaysAdminPanel input[type="text"]:focus {
    border: 9px solid springgreen;
    opacity: .9;
}

#SdmMediaDisplaysAdminPanel button,
#SdmMediaDisplaysAdminPanel input[type="button"],
#SdmMediaDisplaysAdminPanel input[type="submit"] {
    background: #DDDDDD;
    background-image: -webkit-linear-gradient(top, #ffffff, #DDDDDD);
    background-image: -moz-linear-gradient(top, #ffffff, #DDDDDD);
    background-image: -ms-linear-gradient(top, #ffffff, #DDDDDD);
    background-image: -o-linear-gradient(top, #ffffff, #DDDDDD);
    background-image: linear-gradient(to bottom, #ffffff, #DDDDDD);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    -webkit-box-shadow: 0px 0px 30px #37b9e8;
    -moz-box-shadow: 0px 0px 30px #37b9e8;
    box-shadow: 0px 0px 30px #37b9e8;
    font-family: Courier New;
    color: #3498db;
    padding: .8em 1.1em .8em 1.1em;
    margin-left: 6%;
    margin-bottom: 2em;
    border: solid #d6efff 4px;
    text-decoration: none;
    font-size: .9em;
    width: 290px;
    height: 142px;
    margin-top: 42px;
}

#SdmMediaDisplaysAdminPanel button:hover,
#SdmMediaDisplaysAdminPanel input[type="button"]:hover,
#SdmMediaDisplaysAdminPanel input[type="submit"]:hover {
    background: #DDDDDD;
    background-image: -webkit-linear-gradient(top, #DDDDDD, #3498db);
    background-image: -moz-linear-gradient(top, #DDDDDD, #3498db);
    background-image: -ms-linear-gradient(top, #DDDDDD, #3498db);
    background-image: -o-linear-gradient(top, #DDDDDD, #3498db);
    background-image: linear-gradient(to bottom, #DDDDDD, #3498db);
    text-decoration: none;
    color: #3498db;
    -webkit-text-fill-color: #3498db; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FFFFFF;
    opacity: .7;
}

.mediaInfoTable {
    padding: 20px;
    background: #3498db;
    font-size: .72em;
    color: #ffffff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.mediaInfoTd {
    padding: 20px;
    border: 3px solid #ffffff;
    border-radius: 3px;
    min-width: 420px;
}

.sdmMediaDisplayAdminMediaList {
    float: right;
    margin-top: 24px;
    padding: 30px;
    background: #0D1A25;
    width: 100%;
    overflow: auto;
    font-family: monospace;
    border: 3px solid #ffffff;
    border-radius: 9px;
    margin-right: 0px;
}

#mediaListTableCaption {
    text-align: left;
    font-size: 2em;
    letter-spacing: .2em;
    margin-bottom: 20px;
}

#mediaTableRadioText {
    height: 78px;
    overflow: visible;
    float: right;
    width: 79%;
    /* background: #3498db; */
    padding-top: 20px;
    padding-left: 20px;
    margin-right: 3.73em;
    /* border-width: 3px; */
    /* border-style: dotted solid; */
    /* border-color: #ffffff; */
    /* border-radius: 9px; */
    margin-top: 23px;
}

h2 {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    -webkit-margin-after: -22px;
}

.adminPanelContentSpacer {
    margin: 22px 0px 12px 0px;
    width: 100%;
    height: 3px;
    border-radius: 9px;
    background: #3498db;
    opacity: .5;
    border: 2px solid #3498db;
}