/* Buttons*/
#SdmMediaDisplaysAdminPanel {
    background: #000000;
    width: 88%;
    /* text-align: center; */
    margin: 0 auto;
    padding: 32px 0px 88px 225px;
    border: 9px solid #3498db;
    border-radius: 42px;
}

#SdmMediaDisplaysAdminPanel label,
#SdmMediaDisplaysAdminPanel p {
    width: 88%;
    overflow: auto;
    display: inline-block;
}

#SdmMediaDisplaysAdminPanel select,
#SdmMediaDisplaysAdminPanel input[type="radio"],
#SdmMediaDisplaysAdminPanel textarea,
#SdmMediaDisplaysAdminPanel input[type="text"] {
    /* Un-comment to center*/
    margin-top: 42px;
    width: 88%;
    height: 42px;
    border: 3px solid #3498db;
    opacity: .5;
}

#SdmMediaDisplaysAdminPanel select:focus,
#SdmMediaDisplaysAdminPanel input[type="radio"]:focus,
#SdmMediaDisplaysAdminPanel textarea:focus,
#SdmMediaDisplaysAdminPanel input[type="text"]:focus {
    border: 9px solid springgreen;
    opacity: .9;
}

#SdmMediaDisplaysAdminPanel button,
#SdmMediaDisplaysAdminPanel input[type="button"],
#SdmMediaDisplaysAdminPanel input[type="submit"] {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #18343d);
    background-image: -moz-linear-gradient(top, #3498db, #18343d);
    background-image: -ms-linear-gradient(top, #3498db, #18343d);
    background-image: -o-linear-gradient(top, #3498db, #18343d);
    background-image: linear-gradient(to bottom, #3498db, #18343d);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 0px 0px 30px #37b9e8;
    -moz-box-shadow: 0px 0px 30px #37b9e8;
    box-shadow: 0px 0px 30px #37b9e8;
    font-family: Courier New;
    color: #ffffff;
    padding: .8em 1.1em .8em 1.1em;
    margin-left: 1.09em;
    margin-bottom: .5em;
    border: solid #d6efff 4px;
    text-decoration: none;
    font-size: 1.2em;
    max-width: 290px;
    margin-top: 2em;
}

#SdmMediaDisplaysAdminPanel button:hover,
#SdmMediaDisplaysAdminPanel input[type="button"]:hover,
#SdmMediaDisplaysAdminPanel input[type="submit"]:hover {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #46afeb);
    background-image: -moz-linear-gradient(top, #3498db, #46afeb);
    background-image: -ms-linear-gradient(top, #3498db, #46afeb);
    background-image: -o-linear-gradient(top, #3498db, #46afeb);
    background-image: linear-gradient(to bottom, #3498db, #46afeb);
    text-decoration: none;
}

.mediaInfoTable {
    padding: 20px;
    background: #3498db;
    font-size: .72em;
    color: #ffffff;
    border: 3px solid #ffffff;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.mediaInfoTd {
    padding: 20px;
    border: 3px solid #ffffff;
    border-radius: 3px;
    min-width: 420px;
}

.sdmMediaDisplayAdminMediaList {
    float: right;
    margin-top: 24px;
    padding: 30px;
    background: #5CC77A;
    width: 88%;
    overflow: auto;
    font-family: monospace;
    border: 3px solid #ffffff;
    border-radius: 9px;
    margin-right: 120px;
}

#mediaListTableCaption {
    text-align: left;
    font-size: 2em;
    letter-spacing: .2em;
    margin-bottom: 20px;
}

#mediaTableRadioText {
    height: 78px;
    overflow: visible;
    float: right;
    width: 85%;
    /* background: #3498db; */
    padding-top: 20px;
    padding-left: 20px;
    margin-right: 3.73em;
    border-width: 3px;
    border-style: dotted solid;
    border-color: #ffffff;
    border-radius: 9px;
    margin-top: 24px;
}