#AniBg {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
    /* background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); */ /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
    position: absolute;
    top: 120px;
    left: 19px;
    width: 1637px;
    /* border-radius: 21px; */
    z-index: -1000;
}


.coolDefconVideoMediaWrapper {
    border-radius: 9px;
    background: #000000;
    padding: 42px;
    border: 3px solid #ffffff;
    width: 31%;
    height: 742px;
    min-width: 420px;
    float: left;
    overflow: auto;
    margin: 2% 2.2% 0px 0px;
}

.coolDefconVideoMediaWrapper iframe {
    background: #000000;
    border-radius: 9px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    border: none;
    border-width: 0px;
}

.coolDefconVideoMediaContainer {
    width: 100%;
}