/*
    Document   : sdm_layout
    Created on : Oct 12, 2014, 5:22:17 PM
    Author     : Sevi Foreman
    Description:
        Provides the layout styles for the SDM theme for the SDM CMS.
        This theme has a basic layout with a Header, Menu Bar, and Content area.
*/

body {
    background: #000000;
}
.sdmDemoTheme1 {
    color: #000000;
    font-family: monospace;
    font-size: 1em;
}

.sdmDemoTheme1 #lockedwrapper {
    width: 92%; /* default width for all children of the .sdmDemoTheme1 class*/
    height: 92%;
    padding: 20px 0px;
    margin: .2% 3.2%;
    overflow: visible;
    position: absolute;
}

.sdmDemoTheme1 #main_content {
    background: #DDDDDD;
    text-align: left;
    border: 3px solid #CCCCCC;
    border-radius: 9px;
    padding: 2.2% 24px;
    position: relative;
    margin: 0 auto;
    width: 72%;
    overflow: visible;
}


a {
    color: cornflowerblue;
}

a:hover {
    color: #777777;
}

.sdmDemoTheme1 input, textarea, select {
    border: 2px solid #777777;
    border-radius: 9px;
    display: block;
    position: relative;
    margin: 5px 0px 20px 0px;
}

.sdmDemoTheme1 input {
    min-width: 11%;
    padding: 5px;
}
.sdmDemoTheme1 textarea {
    padding: 20px;
    width: 88%;
    height: 300px;
}