/*
    Document   : sdm_layout
    Created on : Oct 12, 2014, 5:22:17 PM
    Author     : Sevi Foreman
    Description:
        Provides the layout styles for the SDM theme for the SDM CMS.
        This theme has a basic layout with a Header, Menu Bar, and Content area.
*/

body {
    background: #000000;
}
.sdmDemoTheme1 {
    color: #000000;
    font-family: monospace;
    font-size: 1em;
}

.sdmDemoTheme1 #lockedwrapper {
    background: #DDDDDD;
    width: 95%;
    min-width: 800px;
    margin: 0 auto;
    padding: 2%;
    border-radius: 9px;
}

.sdmDemoTheme1 #topmenu {
    border-radius: 9px;
    margin: 0 0 20px 0;
}
.sdmDemoTheme1 #main_content {
    border-radius: 9px;
}

/** MENUS **/

#main-menu {
    width: 50%;
    min-width: 750px;
    margin: 0 0 0 -50px;
}
.main-menu {
    font-size: .9em;
}
.main-menu a {
    color: #0066ff;
}

.main-menu li {
    display: inline;
}

.main-menu li a {
    text-decoration: none;
    background: #DDDDDD;
    padding: 3px 15px;
    margin: 0 12px 0 12px;
}

.main-menu li a:hover {
    color: #66ccff;
    background: #000000;
    border-radius: 9px;
}

/** MENU ITEMS **/

.external-link a {
    color: #AA0000 !important; /* use !important to force this rule to be applied */
}

.external-link a:hover {
    color: #66ccff !important; /* use !important to force this rule to be applied */
    background: #000000 !important; /* use !important to force this rule to be applied */
}

/** FORM ELEMETNS **/

input, text, textarea, select {
    display: block;
    border-radius: 4px;
    margin: 5px 0 20px 0;
}