/**
    Document   : layout
    Created on : Oct 27, 2015, 4:31:01 PM
    Author     : seviforeman
    Description: This file defined the style definitions for the content-wrappers for the
                 EaContent_MarySchlictingMd theme.
 */

/* Mobile Styles */

/* Tablet Styles */
@media only screen and (min-width: 600px) {

}

/* Desktop Styles */
@media only screen and (min-width: 768px) {
    #locked_msmd-logo {
        margin: 29px 0px 0px 0px;
    }

    #locked_msmd-main-menu {
        width: 474px;
        float: right;
        overflow: visible;
        margin: 17px 77px 0px 0px;
    }

    #msmd-homepage-welcome-text h1 {
        font-size: 2.8em;
        margin: 31px 0px -19px 0px;
        letter-spacing: 12px;
    }

    #msmd-dvm-box {
        margin: -30px 0px 0px -1px;
        opacity: 1;
        padding: 3px 0px 0px 3px;
        background: #df3435;
        width: 85px;
        color: #ffffff;
        font-size: 1.7em;
        font-weight: 100;
        letter-spacing: -2px;
        height: 37px;
    }

    #msmd-main-menu-first-element {
        padding-left: 0px;
    }

    #msmd-homepage-welcome-text {
    }

    #msmd-homepage-welcome-text p {
        font-size: 1.1em;
        padding-top: 7px;
        line-height: 24px;
    }

    #locked_msmd-page-row-1 {
        height: 167px;
    }

    #locked_msmd-page-row-2 {
        height: 354px;
    }

    #locked_msmd-page-row-3 {
        height: 500px;
    }

    #locked_msmd-shortcut-box-1 {
        padding: 1px 0px 0px 217px;
        height: 278px;
        width: 421px;
    }

    #msmd-shortcut-box-1-content {
        height: 90%;
        width: 180px;
        overflow: hidden;
    }

    #locked_msmd-shortcut-box-2 {
        padding: 14px 0px 0px 37px;
        height: 278px;
        width: 206px;
        background: #f6c045;
        margin-left: 15px;
        margin-top: -1px;
        /* border: 1px solid; */
    }

    #msmd-shortcut-box-2-content {
        height: 90%;
        width: 160px;
        overflow: hidden;
    }

    #locked_msmd-shortcut-box-3 {
        padding: 1px 0px 0px 37px;
        height: 278px;
        width: 206px;
        background: #05a7b7;
        margin-left: 15px;
    }

    #msmd-shortcut-box-3-content {
        height: 90%;
        width: 160px;
        overflow: hidden;
    }

    #locked_msmd-shortcut-box-4 {
        padding: 1px 0px 0px 217px;
        height: 195px;
        width: 431.5px;
        background: #aaa996;
    }

    #msmd-shortcut-box-4-content {
        height: 90%;
        width: 180px;
        overflow: hidden;
    }

    #locked_msmd-shortcut-box-5 {
        padding: 1px 0px 0px 217px;
        height: 195px;
        width: 431.5px;
        background: #aaa996;
    }

    #msmd-shortcut-box-5-content {
        height: 90%;
        width: 180px;
        overflow: hidden;
    }

    #locked_msmd-homepage-emergencies {width: 242px;}
}
