/**
    This file defines classes that define general formatting properties such as color, padding, margin, border, etc.
*/

/* Mobile styles */
.msmd-wrapper-padding {
    padding: 0px 0px 0px 0px;
}

.msmd-century-gothic {
    font-family: "Century Gothic", sans-serif;
}

.msmd-myriad-pro {
    font-family: "Myriad Pro";
}

.msmd-myriad-pro-condensed {
    font-family: "Myriad Pro Condensed";
}

.msmd-all-caps {
    text-transform: uppercase;
}

.msmd-scaled-text {
    letter-spacing: -1.7px;
}

.msmd-wrapper-padding {
    padding: 0px 0px 0px 0px;
}

.msmd-header-wrapper-top-padding h1 {
    font-size: 2.7em;
    font-weight: 100;
}

.msmd-square-bullet {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #df3435;
    margin-right: 10px;
    margin-left: 2px;
}

.msmd-read-more-link {
    letter-spacing: 3px;
    font-weight: bold;
}