/**
    This file defines image styles for the EaContentMarySchlictingMd theme.
 */

/* Mobile styles */
#msmd-homepage-kitty-img {

}

/* Tablet Styles */
@media only screen and (min-width: 600px) {
    #msmd-homepage-kitty-img {

    }
}

/* Desktop Styles */
@media only screen and (min-width: 768px) {
    #msmd-homepage-kitty-img {
        width: 623px;
        float: right;
        margin: -32px 24px 0px 0px;
    }
}