/*
    Document   : layout
    Created on : Oct 27, 2015, 4:31:01 PM
    Author     : seviforeman
    Description: Responsive theme designed for Ea Content.

    WARNING: Be very careful editing this file, it defines the base styles needed for the
    responsiveness of the theme to work! This includes assigning the "box-sizing" property
    which is used to prevent element margin and padding definitions from breaking the box model,
    assigns and clears floats on the responsive .msmd-col-m-# classes.

    Basically, the styles defined in this file are required for the this theme to be responsive, and modifying
    them could break the page layout.
*/

/* Dev styles for use while in development*/
.dev {
    /* border: 1px dashed red; */
}

html {
    /* for older browsers */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* moder browsers */
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    /* background-image: url("../designImages/mary_mockup.jpg"); */
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    /* background-color: #000000; */
    margin: 0px;
}

*, *:before, *:after {
    /* for older browsers */
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    /* moder browsers */
    box-sizing: inherit;
}

/*
    Design for mobile first. By default set all
    column widths to 100% to adjust for smaller
    screens
*/
[class*="msmd-col-"] {
    width: 100%;
    float: left;
}

.msmd-row {
    margin-left: 20px;
}

.msmd-row-1-height {
    height: 200px;
}

.msmd-row-2-height {

}

.msmd-row-3-height {

}

.msmd-row-4-height {

}

.msmd-row-5-height {

}

/**
    The columns inside a row are all floating
    to the left, and are therefore taken out
    of the flow of the page, and other elements
    will be placed as if the columns do not
    exist. To prevent this, we will add a style
    that clears the flow after each row.
    (i.e., after each element with class .row)
**/
.msmd-row:after {
    clear: both;
    display: block;
}

/* Set to 0 to negate desktop min-width. */
.msmd-row-width {
    min-width: 0px;
}

/* Tablet Styles | WARNING: Be very careful editing theses widths! */
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .msmd-col-m-1 {
        width: 8.33%;
    }

    .msmd-col-m-2 {
        width: 16.66%;
    }

    .msmd-col-m-3 {
        width: 25%;
    }

    .msmd-col-m-4 {
        width: 33.33%;
    }

    .msmd-col-m-5 {
        width: 41.66%;
    }

    .msmd-col-m-6 {
        width: 50%;
    }

    .msmd-col-m-7 {
        width: 58.33%;
    }

    .msmd-col-m-8 {
        width: 66.66%;
    }

    .msmd-col-m-9 {
        width: 75%;
    }

    .msmd-col-m-10 {
        width: 83.33%;
    }

    .msmd-col-m-11 {
        width: 91.66%;
    }

    .msmd-col-m-12 {
        width: 100%;
    }


    .msmd-row {
        margin-left: 20px;
    }

    /* Prevent elements from collapsing on window resize on desktops by setting min-width for desktops.
       Also, center elements on page by setting left and right margins to auto. */
    .msmd-row-width {
        min-width: 0px;
    }
}

/* Desktop Styles | WARNING: Be very careful editing theses widths! */
@media only screen and (min-width: 768px) {
    /* Col styles For desktop: */
    .msmd-col-1 {
        width: 8.33%;
    }

    .msmd-col-2 {
        width: 16.66%;
    }

    .msmd-col-3 {
        width: 25%;
    }

    .msmd-col-4 {
        width: 33.33%;
    }

    .msmd-col-5 {
        width: 41.66%;
    }

    .msmd-col-6 {
        width: 50%;
    }

    .msmd-col-7 {
        width: 58.33%;
    }

    .msmd-col-8 {
        width: 66.66%;
    }

    .msmd-col-9 {
        width: 75%;
    }

    .msmd-col-10 {
        width: 83.33%;
    }

    .msmd-col-11 {
        width: 91.66%;
    }

    .msmd-col-12 {
        width: 100%;
    }


    .msmd-row {
    }

    /* Prevent elements from collapsing on window resize on desktops by setting min-width for desktops.
       Also, center elements on page by setting left and right margins to auto. */
    .msmd-row-width {
        width: 1122px;
        margin: 1px auto;
        padding: 0px 0px 0px 130px;
    }

    .msmd-header-row {
        height: 167px;
    }
}