/*
 *
 */

/* Generic link styles */
/* Styles for unvisited links*/
a:link {
    text-decoration: none;
    color: #00b9e1;
}

/* Styles for visited links*/
a:visited {
    color: #00b9e1;
}

/* Styles for when mouse is over link */
a:hover, a:visited:hover {
    color: #41b55b;
}

/* Styles for the active link */
a:active, a:visited:active {
    color: #ffffff;
}

/** Read More links **/
.msmd-read-more-link a:link {
    color: #000000;
}

/* Styles for visited links*/
.msmd-read-more-link a:visited {
    color: #000000;
}

/* Styles for when mouse is over link */
.msmd-read-more-link a:hover, a:visited:hover {
    color: #000000;
}

/* Styles for the active link */
.msmd-read-more-link a:active, a:visited:active {
    color: #000000;
}

/** #locked_msmd-logo links **/

#locked_msmd-logo a:link {
    color: #000000;
}

/* Styles for visited links*/
#locked_msmd-logo a:visited {
    color: #000000;
}

/* Styles for when mouse is over link */
#locked_msmd-logo a:hover, a:visited:hover {
    color: #000000;
}

/* Styles for the active link */
#locked_msmd-logo a:active, a:visited:active {
    color: #000000;
}

/**  #msmd-dvm-box links **/
#msmd-dvm-box a:link {
    color: #ffffff;
}

/* Styles for visited links*/
#msmd-dvm-box a:visited {
    color: #ffffff;
}

/* Styles for when mouse is over link */
#msmd-dvm-box a:hover, a:visited:hover {
    color: #ffffff;
}

/* Styles for the active link */
#msmd-dvm-box a:active, a:visited:active {
    color: #ffffff;
}